@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body{
    background-color: orange !important; 
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.img-custom-height {
    max-height: 450px;
}

.btn-custom-width {
    /* min-width: 100px;*/
    padding-left: 30px;
    padding-right: 30px;
}
.container-footer {
    height: 20px;
    margin: 10px 50px 10px 50px;
}

.container-form-width {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
}

@media screen and (max-width: 767px) {
    .container-form-width {
        top: 5%;
        left: auto;
        transform: translateX(0%);
        max-width: 600px;
    }
}