@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body{
    background-color: orange !important; 
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.bg-custom{
    background-color: white !important; 
    border-radius: 5px;
}

.logo-custom{
    text-shadow: 2px 2px lightslategray;
}

.img-custom-height {
    max-height: 450px;
}

.img-message--height{
    max-height: 200px;
}

.card-width{
    max-width: 400px!important;
}

.btn-custom-width {
    /* min-width: 100px;*/
    padding-left: 30px;
    padding-right: 30px;
}

.btn-padrao{
    background: #ffd700;
    border-radius: 20px;
}

.btn-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #ffd700;
    margin: 0.5rem;
}

.btn-text a{
    text-decoration: none;
    color: white;
}

.btn-text a:hover{
    text-decoration: none;
    color: white;
}

.container-footer {
    height: 20px;
    margin: 10px 50px 10px 50px;
}

.card-text--font{
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffd700;
}
.container-form-width {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
}


.sidebar {
    text-align: center;
    align-items: center;
    padding: 20px;
    min-width: 110px;
}

.container {
    padding: 20px;
}

.bg-form{
    background: #eeeeee;
    border-radius: 10px;
    border: lightgrey;
    border-width: 1px;
    border-style: solid;
}

.row-pad {
    padding: 10px;
}

.title-dashboard {
    color: white;
}

.btn-action {
    background-color: orange!important;
    color: white!important;
    font-weight: bold!important;
    border-color: white!important;
}

.btn-action:hover{
    background-color: #ffd700!important;
    /* color: black!important; */
    font-weight: bold!important;
    border-color: #ffd700!important;
    
}

.btn-send {
    margin-bottom: 10px;
    width: 100%;
    font-size: 22px !important;
    padding: 12px 24px 12px 24px !important;
    border-radius: 40px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border: 0;
}

.text-center--wb{
    text-align: -webkit-center;
}

.form-button--s{
    text-align: start;
}

.form-button--e{
    text-align: end;
}

.input-dp{
    border: none !important;
    border-bottom: 2px solid #ff7100 !important;
    border-radius: 0 !important;
    font-size: 18px!important;
    font-weight: 700!important;
    font-family: 'Roboto' !important;
}

@media screen and (max-width: 767px) {
    .container-form-width {
        top: 5%;
        left: 0%;
        transform: translateX(0%);
        max-width: 600px;
    }

    .container-margin{
        max-width: 90%;
    }

    .title-dashboard{
        text-align: center
    }

    .form-button--s{
        text-align: center;
    }
    
    .form-button--e{
        text-align: center;
    }
}


.logo-shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 183, 255, 0.7));
    /* Similar syntax to box-shadow */
  }



  /* ////////////////////////////////////////////////// */

  /*------------------------------------
- COLOR bananaOrange
------------------------------------*/
.alert-bananaOrange {
    color: #843a00;
    background-color: #ffe2cc;
    border-color: #ffd7b7;
}

.alert-bananaOrange hr {
    border-top-color: #ffc99e;
}

.alert-bananaOrange .alert-link {
    color: #512400;
}

.badge-bananaOrange {
    color: #212529;
    background-color: #ff7100;
}

.badge-bananaOrange[href]:hover, .badge-bananaOrange[href]:focus {
    color: #212529;
    background-color: #cc5a00;
}

.bg-bananaOrange {
    background-color: #ff7100 !important;
}

a.bg-bananaOrange:hover, a.bg-bananaOrange:focus,
button.bg-bananaOrange:hover,
button.bg-bananaOrange:focus {
    background-color: #cc5a00 !important;
}

.border-bananaOrange {
    border-color: #ff7100 !important;
}

.btn-bananaOrange {
    color: #212529;
    background-color: #ff7100;
    border-color: #ff7100;
}

.btn-bananaOrange:hover {
    color: #212529;
    background-color: #db6100;
    border-color: #cc5a00;
}

.btn-bananaOrange:focus, .btn-bananaOrange.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 113, 0, 0.5);
}

.btn-bananaOrange.disabled, .btn-bananaOrange:disabled {
    color: #212529;
    background-color: #ff7100;
    border-color: #ff7100;
}

.btn-bananaOrange:not(:disabled):not(.disabled):active, .btn-bananaOrange:not(:disabled):not(.disabled).active, .show > .btn-bananaOrange.dropdown-toggle {
    color: #212529;
    background-color: #cc5a00;
    border-color: #bc5300;
}

.btn-bananaOrange:not(:disabled):not(.disabled):active:focus, .btn-bananaOrange:not(:disabled):not(.disabled).active:focus, .show > .btn-bananaOrange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 113, 0, 0.5);
}

.btn-outline-bananaOrange {
    color: #ff7100;
    background-color: transparent;
    border-color: #ff7100;
}

.btn-outline-bananaOrange:hover {
    color: #212529;
    background-color: #ff7100;
    border-color: #ff7100;
}

.btn-outline-bananaOrange:focus, .btn-outline-bananaOrange.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 113, 0, 0.5);
}

.btn-outline-bananaOrange.disabled, .btn-outline-bananaOrange:disabled {
    color: #ff7100;
    background-color: transparent;
}

.btn-outline-bananaOrange:not(:disabled):not(.disabled):active, .btn-outline-bananaOrange:not(:disabled):not(.disabled).active, .show > .btn-outline-bananaOrange.dropdown-toggle {
    color: #212529;
    background-color: #ff7100;
    border-color: #ff7100;
}

.btn-outline-bananaOrange:not(:disabled):not(.disabled):active:focus, .btn-outline-bananaOrange:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-bananaOrange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 113, 0, 0.5);
}

.list-group-item-bananaOrange {
    color: #843a00;
    background-color: #ffd7b7;
}

.list-group-item-bananaOrange.list-group-item-action:hover, .list-group-item-bananaOrange.list-group-item-action:focus {
    color: #843a00;
    background-color: #ffc99e;
}

.list-group-item-bananaOrange.list-group-item-action.active {
    color: #212529;
    background-color: #843a00;
    border-color: #843a00;
}

.table-bananaOrange,
.table-bananaOrange > th,
.table-bananaOrange > td {
    background-color: #ffd7b7;
}

.table-hover .table-bananaOrange:hover {
    background-color: #ffc99e;
}

.table-hover .table-bananaOrange:hover > td,
.table-hover .table-bananaOrange:hover > th {
    background-color: #ffc99e;
}

.text-bananaOrange {
    color: #ff7100 !important;
}

a.text-bananaOrange:hover, a.text-bananaOrange:focus {
    color: #cc5a00 !important;
}

.table-cadastro {
    background-color: white;
    border-color: white!important;
}

.label-white {
    color: white;
}